.img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border: 1px solid;
    padding: 5px;
    img {
        width: 100%;
        height: 100%;
    }
}

.heart {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/heart.png");
    background-size: 100%;
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
}