$white:                     #ffffff;
$black:                     #000000;
$iris-blue:                 #17BEDE;
$grey:                      #f9f9f9;
$red:                       #e25555;
$redish:                    #f05f40;

// ===================
// main color palette
// ===================
$color-primary:             $iris-blue;


// ==============
// Button colors
// ==============
$btn-primary-color:         $white;
$btn-primary-bg:            $color-primary;
$btn-primary-border:        $color-primary;
